/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    background-image: url('background.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated; 
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


.container {
    text-align: center;
}

.title {
    font-size: 32px;
    color: #00ff00;
    margin-bottom: 20px;
}

.start-text {
    color: #ff0;
    font-size: 16px;
    animation: blink 1s steps(2, start) infinite;
}

.avatar-container {
    margin: 20px 0;
}

.avatar {
    width: 100px;
    height: 100px;
    image-rendering: pixelated; /* For pixelated look */
}

.menu {
    list-style-type: none;
    font-size: 18px;
    color: #fff;
}

.menu-item {
    margin: 10px 0;
    cursor: pointer;
    transition: color 0.3s;
}

.menu-item:hover {
    color: #00ff00;
}

/* Blinking effect for "Press Start" */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
